#imagestable {
	margin-left: auto;
	margin-right: auto;
	border:none;
	background-color:transparent;
}
#caption {
	width:40px;
	text-align: center;
	Color: #033030; /*1A6171*/
	Font-family: League Gothic;
	Font-size: 14pt;
	border-radius: 2px;
	box-shadow: 5px 5px 5px #111;
	background-color: #cba;
	
}

#slide {
	border-radius: 5px;
	box-shadow: 5px 5px 5px #111;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#gallerybutton{
	border-radius: 5px;
	background-color: #bf8bff; /*1A6171*/
	box-shadow: 0px 1px 1px 1px #333;
	width: 100%;
	text-align: center;
}
