/*Video section*/
#video {
	width: 80%;
	height: 475px;
	margin: 50px auto 10px auto;
}

/*video position referenced from http://stackoverflow.com/questions/16593220/positioning-embedded-video-via-css */
#video iframe {
	display: block;
	height: 80%;
	left: 25%;
	top: 25%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


/*research from http://stackoverflow.com/questions/7055393/center-image-using-text-align-center */
#slides img {
	border-radius: 5px;
	box-shadow: 10px 10px 5px #111;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

